<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="robots" content="all,follow">
		<title>Dental Magic HR Analytics Portal</title>		
		<link rel="stylesheet" href="../static/pdf_style/bootstrap.min.css">
        <link rel="stylesheet" href="../static/pdf_style/pdf_style_custom.css">			
    </head>

	<body>	
	  <div class="wrapper">		
	  <h2>Attrition & Retention</h2>
		<div class="row-fluid">
			<div class="col-sm-12 col-md-12 col-lg-12" id="dash-panel">
				<div class="panel panel-default">
				<div class="panel-heading"><b>Reasons For Termination - All On Record</b></div>
					<div class="panel-body">
						<div id='graph-img'>
							<img src=../static/img/termReasons.png alt="">
						</div>
					</div>						
				</div>
			</div>	
		</div>	
		<div class="row-fluid">			
			<div class="col-sm-12 col-md-12 col-lg-12" id="dash-panel">	
				<div class="panel panel-default">
				<div class="panel-heading"><b>Reasons For Termination - Marital Status Breakdown</b></div>
					<div class="panel-body">
						<div id="graph-img">
							<img src=../static/img/rftMarital.png alt="">
						</div>
					</div>						
				</div>			
			</div>	
		</div>
		<br>
		<div class="row-fluid">
			<div class="col-sm-12 col-md-12 col-lg-12" id="dash2-panel">
				<div class="panel panel-default">
				<div class="panel-heading"><b>Reasons For Termination - Racial Breakdown</b></div>
					<div class="panel-body">
						<div id='graph2-img'>
							<img src=../static/img/rftRace.png alt="">
						</div>
					</div>
				</div>
			</div>
		</div>		
		<br>
		<div class="row-fluid">
			<div class="col-sm-12 col-md-12 col-lg-12" id="dash2-panel">
				<div class="panel panel-default">
				<div class="panel-heading"><b>Reasons For Termination - Gender Breakdown</b></div>
					<div class="panel-body">
						<div id='graph2-img'>
							<img src=../static/img/rftGender.png alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		
	  </div><!-- End of wrapper --> 			
	</body>
</html>