{% extends "base.html" %}

{% block loading2_style %}	
	body { 
		width:90%; 
		height:90%; 
		background-image: url(../static/img/loading2.png) !important;
		background-repeat: no-repeat !important;
		background-attachment: fixed !important;
		background-size: 50%;!important;
		background-position: 25vh 50vh !important; 
	}
{% endblock %}

{% block content %}
	<div id="loading" class="loader loader-clock is-active">
		<!-- <div id="progress"></div> -->	
	</div>	
{% endblock %}

{% block task_script %}	
	$(document).ready(function() {	
		var page = '{{ page }}';
		var task_func = '{{ task_func }}';
		start_pageload_task(task_func, page);
	});
{% endblock %}	