{% extends "base.html" %}

{% block content %}
    <h2>Talent Management</h2>
<!-- 	<div class="row-fluid">
		<div class='col-sm-12 col-md-12 col-lg-12'>
			<div class="well">
				<p>
				 Testing, testing, testing...
				</p>
			</div>		 
		</div>				
	</div> -->
	<div class="row-fluid">
		<div class="col-sm-12 col-md-6 col-lg-6" id="dash-panel">
			<div class="panel panel-default">
			<div class="panel-heading"><b>Performance Score Results - Current Staff</b></div>
				<div class="panel-body">
					<div id='graph-img'>
						<img src={{ src1 }} alt="d">
					</div>
				</div>						
			</div>
		</div>		
		<div class="col-sm-12 col-md-6 col-lg-6" id="dash-panel">	
			<div class="panel panel-default">
			<div class="panel-heading"><b>Performance Score Results By Department</b></div>
				<div class="panel-body">
					<div id="graph-img">
						<img src={{ src4 }} alt="">
					</div>
				</div>						
			</div>			
		</div>	
	</div>
	<div class="row-fluid">
		<div class="col-sm-12 col-md-12 col-lg-12" id="dash2-panel">
			<div class="panel panel-default">
			<div class="panel-heading"><b>Performance Score Distribution - Current Staff</b></div>
				<div class="panel-body">
					<div id='graph2-img'>
						<img src={{ src2 }} alt="d">
					</div>
				</div>						
			</div>
		</div>		
	</div>			
	<div class="row-fluid">
		<div class="col-sm-12 col-md-12 col-lg-12" id="dash2-panel">
			<div class="panel panel-default">
			<div class="panel-heading"><b>Performance Scores Given By Manager</b></div>
				<div class="panel-body">
					<div id='graph2-img'>
						<img src={{ src3 }} alt="d">
					</div>
				</div>						
			</div>
		</div>		
	</div>	
{% endblock %}	